<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Payment Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add your additional styles here */
        body {
            padding: 50px;
        }

        .success-message {
            text-align: center;
            margin-top: 50px;
            font-size: 24px;
        }
    </style>
</head>

<body>
    <div class="container" style="border: solid 2px; border-radius: 10px; width: 700px; height: 400px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="success-message">
                    <h2 class="text-success fs-1">Payment Successful!</h2>
                    <hr>
                    <p class="fw-bold"style="font-size:30px;">your booking has been confirmed</p>
                    <button type="submit" class="btn btn-success btn-block"><a href="/" style="font-size:20px;text-decoration: none;color: black; font-weight: bold;">Back to Home</a></button>    
                   
                </div>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
